header{
    background-color: var(--color-primary);
    height: 80px;
    display: flex;
    align-items: center;
}

.sisgames-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.sisgames-nav-content h1{
     margin: 0;
     font-weight: 700;
     font-size: 24px;
}


.sisgames-contact-container{
    display: flex;
    align-items: center;
}

.sisgames-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}

.logo-unifametro{
    height: 55px;
}