footer{
    background-color: #00a28d;
    height: 80px;
    display: flex;
    align-items: center;
}

.sisgames-footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.sisgames-footer-content h1{
     margin: 0;
     font-weight: 700;
     font-size: 24px;
}

.sisgames-footer-contact-container{
    display: flex;
    align-items: center;
}

.sisgames-footer-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}


.sisgamges-footer-social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sisgamges-footer-social svg {
    width: 37px;
    height: 29px;
    margin: 32px;
    color: #fff
}